@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{

	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;

}


#word-count{

	position: fixed;
	top: 23px;
	right: 50px;

}
	
header{

	position: static;
    margin: 20px 200px 30px 200px;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	
}

section{

	position: relative;
	margin: 10px 200px;
	outline: none;
	flex-wrap: wrap;
	font-family: 'Prata', serif;
	font-size: 20px;

	
}

.unselectable{

	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 16px;
  border-color: white solid;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  top: 25px;
  left: 50px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: grey;}


