@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{

	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;

}


#wordCount{

	position: fixed;
	top: 20px;
	right: 50px;

}

#save{

	position: fixed;
	background: black;
	border: none;
	font-family: 'Montserrat', sans-serif; 
	color: white;
	top: 25px;
	left: 50px;

}
	

header{

	position: static;
    margin: 20px 200px;
	outline: none;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	font-weight: bold;
}

section{

	position: relative;
	margin: 10px 200px;
	outline: none;
	flex-wrap: wrap;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	
}


