/* #html {
    display: block;
    background-color: black;
} */

#heading {
    /* position: absolute;
    z-index: 1; */
    margin-top: 22.5%;
    color: #222222;
    font-size: 600%;
    font-family: 'Press Start 2P', cursive;
}

.content {
    position: absolute;
    display: flex;
    z-index: 1;
}

#about {
    position: absolute;
    color: #222222;
    font-size: 20px;
    margin-top: 35%;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Hide scrollbar */
}

#bgVideo {
    position: absolute;
    z-index: 0;
    background-color: antiquewhite;
}