/* html {
    display: block;
    background-color: black;
} */

body {
    display: flex;
    justify-content: left;
    padding: 50px;
    background-color: black;
    flex-direction: column;
}

#heading {
    color: #f0f0f0;
    margin-top: 15%;
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
}

li {
    padding: 10px;
}

.about {
    color: #e4e4e4;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.content {
    position: absolute;
    display: flex;
    z-index: 1;
}


#bgVideo {
    position: absolute;
    z-index: 0;
    background-color: antiquewhite;
}